@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto+Condensed&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(0deg, #00D655, #00D655), rgba(67, 118, 251, 0.2);
}

header {
    background: linear-gradient(0deg, rgba(4, 183, 194, 0.15), rgba(4, 183, 194, 0.15)), linear-gradient(0deg, rgba(0, 141, 186, 0.16), rgba(0, 141, 186, 0.16)), #00A943;
    ;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    transform: scaleX(1.4);
}

#bookSlot {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
}

#vaccineimg {
    height: 20vh;
}

#bookSlot button {
    padding: 7px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
}

#submitSlot {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    margin-left: 45vw;
    font-family: 'Cairo', sans-serif;
}

.data {
    margin: 0 0 15px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    font-family: 'Roboto Condensed', sans-serif;
}

.data input {
    padding: 5px;
}